.desktop-banner {
  display: none;
}

.banner-pad {
  padding-top: 0rem;
}

@media only screen and (min-width: 60em) {

  .desktop-banner{
    display: inline-block;
  }

  .mobile-banner {
    display: none;
  }

  .banner-pad {
    padding-top: 4rem;
  }

}
