.showcase-header {
  font-family: var(--font-secondary);
  font-weight: bold;
}

.showcase-p {
  font-family: var(--font-primary);
  font-weight: bold;
}

.page {
  font-family: var(--font-secondary);
  font-weight: 500;
}

.bg-fronter {
  background-color: #f5f2e4；
}
